<!DOCTYPE html>
<html lang="en">

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>README.dan</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 offset-lg-2 pt-5">
				<h1>README.dan</h1>
				<div class="card float-end ms-3 mb-3" style="width: 18rem;">
					<img class="card-img-top" src="./images/headshot.jpg" />
					<div class="card-body">
						<h5 class="card-title">Dan Short (he/him)</h5>
						<p class="card-text">Managing since: 2012<br />
							Managing managers since: 2015<br />
							Status: <span class="badge text-bg-primary">Draft</span></p>
						<div class="card-text">
							Currently reading:
							<style type="text/css" media="screen">
								.gr_grid_container {
									/* customize grid container div here. eg: width: 500px; */
								}

								.gr_grid_book_container {
									/* customize book cover container div here */
									float: left;
									width: auto !important;
									height: auto !important;
									padding: 0px 0px 0px 4px !important;
									overflow: hidden;
								}
							</style>
							<div id="gr_grid_widget_1654742023">
								<!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
								<div class="gr_grid_container">
									<div class="gr_grid_book_container"><a title="Words of Radiance (The Stormlight Archive, #2)" rel="nofollow"
											href="https://www.goodreads.com/book/show/20150777-words-of-radiance"><img alt="Words of Radiance"
												border="0"
												src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1391535272l/20150777._SX98_.jpg" /></a>
									</div>
									<br style="clear: both" /><br /><a class="gr_grid_branding"
										style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow"
										href="https://www.goodreads.com/user/show/76282116-dan">Dan's favorite books »</a>
									<noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Dan, and even join a <a
											rel="nofollow" href="/group">book
											club</a> on Goodreads.</noscript>
								</div>

							</div>
							<script
								src="https://www.goodreads.com/review/grid_widget/76282116.Currently%20Reading?cover_size=medium&hide_link=&hide_title=true&num_books=2&order=d&shelf=currently-reading&sort=date_updated&widget_id=1654742023"
								type="text/javascript" charset="utf-8"></script>
						</div>
					</div>
				</div>
				{{ content }}
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>